.App {
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  margin: 2rem;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}
